* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f2f2f2;
    color: #333;
}

header {
    background-color: hsl(275, 42%, 45%);
    color: white;
    text-align: center;
    padding: 40px;
    
    animation: desvanecimiento 1.2s ease-out;
}

header h1 {
    margin: 0;
}

main {
    max-width: 1100px;
    margin: 0 auto;
    padding: 40px 20px;
}

.banner {
    background-color: white;
    margin-bottom: 50px;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(92, 89, 89, 0.12);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    align-items: center;

    scroll-margin-top: 90px;
}

section {
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.12);
    background-color: white;
    margin-bottom: 20px;

    scroll-margin-top: 90px;
}

img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    background-color: black;
}

section:has(img) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    align-items: center;
}

section:has(img) h2 {
    grid-column: 1;
    grid-row: 1;
}

section:has(img) p,
section:has(img) ul {
    grid-column: 1;
}

section:has(img) img {
    grid-column: 2;
    grid-row: 1 / span 2;
    width: 100%;
}

section h2 {
    animation: deslizamiento 1s ease-in-out;
    margin-bottom: 15px;
}

p {
    font-size: 18px;
    line-height: 1.6;
    color: #333;
}

li {
    margin: 10px;
}

.consejo {
    border-left: 5px solid #4b6cb7;
}

section:not(:has(img)) {
    text-align: center;
}

.frase {
    text-align: center;
    background-color: #dce5ff;
    
    animation: desvanecimiento 1.5s ease-out;
}

.frase p {
    font-size: 20px;
    font-weight: bold;
    align-content: center;
    justify-content: center;
}

main > p {
    background-color: white;
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

#pre {
    padding: 25px;
    border-radius: 8px;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

footer {
    text-align: center;
    background-color: #333;
    color: white;
    padding: 15px;
}

/* ANIMACIONES */
@keyframes desvanecimiento {

    0% {
        opacity: 0;
        transform: scale(0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes deslizamiento {

    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}